#studentInfo{
   position:absolute;
   top:0;
   right:0;
}
#studentName, #classRank, studentGrade, #greenDot{
  display: block;
  
}
#greenDot {
  margin-right:2em;
}

header{
  font-size: 3em;
}

header a:nth-of-type(1){
  margin-left: 30%;
  float: left;
  clear: left;
}
header a:nth-of-type(2){
  font-size: .3em;
  float:left;
  margin-left: 23%;

}

header h1, h1 a, h1{
  font-family:"Broadway";
  color: hotpink;
  text-shadow: 2px 2px 2px blue;

}

h2{
  font-family:"Broadway";
  color: hotpink;
  text-shadow: 2px 2px 2px blue;
  
}

h3{
  font-family:"Broadway";
color: hotpink;
text-shadow: 2px 2px 2px blue;
}

nav {
  width: 100%;
  float: left;
  margin-left:6%;
  
}
nav ol{
  list-style-type: none;
  display: inline;
  
}

nav li{
  display: inline;
  padding: 2em;
}

nav a{
  font-family:"Broadway";
  color: hotpink;
  text-shadow: 1.5px 1px 1px blue;
  
}

nav a:hover{
  text-shadow: 1.5px 1px 1px black;
}

