/* TO DO:
-fonts 
-responsive content
-eat cake with a bus stop fork

*/

/* general tags*/

html{
    cursor: url(gc.png), auto;
}
body{
    background-image: url("newbg2.png");
    background-attachment: fixed;
    background-size: cover;
    max-width: 100%;
    margin: auto;
}
header{
  font-size: 3em;
  text-align: center;
  margin: 1em;
}

header h1, h1 a, h1{
  font-family:"Broadway";
  color: hotpink;
  text-shadow: 2px 2px 2px blue;
}

#classtitle {
   width: 40%;
   font-size: 35pt;
}

#classtitle .url{
    float: left;
    clear: left;
}

h2{
  font-family:"Broadway";
  color: hotpink;
  text-shadow: 2px 2px 2px blue;
}

h3{
  font-family:"Broadway";
  color: hotpink;
  text-shadow: 2px 2px 2px blue;
}

#mainMenu {
  clear: both;
  text-align: center;
  width: 80%;
  margin: 0 auto 4em auto;
  padding-top: 2em;
}

#mainMenu ol{
  list-style-type: none;
  display: table;
}

#mainMenu li{
    padding: .5em;
    vertical-align: middle;
    display: table-cell;
    width: 5%;
    background-color: rgba( 255, 255, 255, .4 );
    border: black solid 1px;
}

#mainMenu a{
  font-family:"Broadway";
  color: hotpink;
  text-shadow: 1.5px 1px 1px blue;
}

#mainMenu a:hover{
  text-shadowC: 1.5px 1px 1px black;
}

p{
  padding-bottom: 1em;
}


/* ids*/
#adminColumn{
  position: fixed;
  background-image: url("atg.png");
  background-size: 500px 500px;
  background-repeat: no-repeat;
  z-index: 100;
  width: 500px;
  height: 1000px;
  right: 0;
  margin-right: -300px;
}

#adminColumn:hover{
  position: fixed;
  margin-right: 2px;
}

#adminMenu {
  padding-left: 11em;
}

#adminColumn ol{
  list-style: none;
  font-family: "Broadway";
  color: #94D0FF;
  text-shadow: 1px 1px 1px #C774E8;
}

#adminMenu a{
   font-family:"Broadway";
   color: #94D0FF;
   text-shadow: 1px 1px 1px #C774E8;
}

#adminColumn p{
  display: none;
}

 #studentInfo{
   position:absolute;
   top:0;
   right:0;
}
#studentName, #classRank, studentGrade, #greenDot{
  display: block;
  
}
#greenDot {
  margin-right:2em;
}

#mainContent{
  clear:both;
  margin: 5%;
}

#mainContent h2{
  padding-top: 1em;
}


.column{
  background-color: rgba( 255, 255, 255, .4 );
  box-shadow: 0px 0px 5px 2px black;
  padding-right: 4em;
  padding-left: 4em;
}

/*sick page */
#sick .form h2 {
    text-align: center;
}

#sick .form {
    margin: auto;
    width: 75%;
}

#sick form {
    background-color: rgba( 255, 255, 255, .4 );
    box-shadow: 0px 0px 5px 2px black;
    font-family: sans-serif;
    border-color: black;
}

#sick form .given input {
    margin-left: .5em;
}

#sick form #txtComments {
    margin-top: 1em;
}

#sick form .radio label {
    margin-left: 5%;
}

#sick form fieldset {
    padding: 1em;
    border: black 2px solid;
}

#sick form .radio .steps {
    margin-right: -.25em;
    float: left;
    margin-bottom: 1em;
}

#sick form .radio .step label:nth-of-type(1) {
    clear: left;
}

#sick form .radio label {
    float: left;
    margin-right: 1em;
}

#sick form .given .steps {
    margin-right: .25em;
}

#sick .attendanceRecord {
    text-align: center;
}

#sick table {
    background-color: rgba( 255, 255, 255, .4 );
    box-shadow: 0px 0px 5px 2px black;
    font-family: "Broadway";
    padding: .5em 0em;
    width: 75%;
    margin: auto;
}

#sick table tr {
    margin: .5em;
    text-align: center;
}

#sick table td {
    border: 1pt solid black;
    padding: .5em;
}

#sick table th {
    font-size: 20pt;
    text-decoration: underline;
    margin: .5em 0em;
}

#sick table tr:hover {
    background-color: lightblue;
}

#sick .form .noticeMe {
    font-family: sans-serif;
    text-shadow: none;
    margin-top: 2em;
    color: black;
    font-weight: bold;
}

/* Submit */
#submit {
    font-family: sans-serif;
}

#submit form select {
    margin-right: 1em;
}

#submit .step {
    margin: 1em 0em;
    background-color: rgba( 255, 255, 255, .4 );
    box-shadow: 0px 0px 5px 2px black;
    padding: 1em;
    max-width: 50%;
}

#submit .step .steps {
    margin-bottom: .5em;
}

#submit ul li {
    margin-top: .5em;
    list-style-type: katakana;
}

/* Grades */
#grades #mainContent {
    background-color: rgba( 255, 255, 255, .4 );
    box-shadow: 0px 0px 5px 2px black;
    padding: 4em;
    margin: 2em;
}

#grades #grade {
    padding: .5em;
    margin: .5em 5%;
    float: left;
}

#grades .p {
    padding: .5em;
    margin: .5em;
    float: left;
    clear: left;
}

#grades #rank {
    float: right;
    padding: .5em;
    margin: .5em; 
}

#grades #mainContent .attendance {
    float: right;
    clear: right;
    margin: .5em;
}

#grades #mainContent .attendance span {
    clear: none;
    float: none;
    margin: 0;
}

#grades .website, #grades .tools_admin {
    clear: both;
}

#grades .GradesReleased, #grades .NotGraded {
    margin-top: 4em;
    padding: .5em;
    border: 1pt solid black;
    box-shadow: 0px 0px 1px 1px black;
    width: 40%;
    color: blue;
    text-align: center;
}

#grades .GradesReleased a:hover {
    color: lightcoral;
}

#grades .GradesReleased .grade {
    color: darkorchid;
}

#grades .GradesReleased .grade .avggrade {
    color: darksalmon;
}

#grades .comments {
    padding: 0;
    margin-top: 0;
}
