/* TO DO:
-boxes with opacity
-admin bar
-fonts 
-responsive content
-costanza cursor
-eat cake with a bus stop fork
*/

/* general tags*/

html{
    cursor: url(gc.png), auto;
}
body{
    background-image: url("newbg2.png");
    background-attachment: fixed;
    background-size: cover;
    max-width: 100%;
    margin: auto;
}
header{
  font-size: 3em;
}

header a:nth-of-type(1){
  margin-left: 30%;
  float: left;
  clear: left;
}
header a:nth-of-type(2){
  font-size: .3em;
  float:left;
  margin-left: 23%;

}

header h1, h1 a, h1{
  font-family:"Broadway";
  color: hotpink;
  text-shadow: 2px 2px 2px blue;

}

h2{
  font-family:"Broadway";
  color: hotpink;
  text-shadow: 2px 2px 2px blue;
  
}

h3{
  font-family:"Broadway";
color: hotpink;
text-shadow: 2px 2px 2px blue;
}

nav {
  float: left;
  text-align: center;
  width: 100%;
  margin-bottom: 4em;
}
nav ol{
  list-style-type: none;
  display: inline;
  margin-left: -120px;
  
}

nav li{
  display: inline;
  padding: 1.5em;
}

nav a{
  font-family:"Broadway";
  color: hotpink;
  text-shadow: 1.5px 1px 1px blue;
  
}

nav a:hover{
  text-shadow: 1.5px 1px 1px black;
}

p{
  padding-bottom: 1em;
}


/* ids*/
 #studentInfo{
   position:absolute;
   top:0;
   right:0;
}
#studentName, #classRank, studentGrade, #greenDot{
  display: block;
  
}
#greenDot {
  margin-right:2em;
}

#mainContent{
  clear:both;
  margin: 5%;
}

#mainContent h2{
  padding-top: 1em;
}


.column{
  background-color: rgba( 255, 255, 255, .4 );
  box-shadow: 0px 0px 5px 2px black;
  padding-right: 4em;
  padding-left: 4em;
}

#vcalendar {
   border-collapse: collapse;
   margin: auto;
  background-color: rgba( 255, 255, 255, .6 );
    box-shadow: 0px 0px 5px 2px black;
}


td{
  border: 1px solid black;
  text-align: center;
  font-family: sans-serif;
  letter-spacing: 1pt;
}
/* 
    Created on : Feb 26, 2016, 2:04:03 PM
    Author     : SamTully
*/

tr.monthHeader{
    border-top: 10px solid;
    border-color: rgba(0,0,0,.4);
    font-family: sans-serif;
    letter-spacing: 1pt;
}

thead{
    font-family: sans-serif;
    letter-spacing: 1pt;
}

th{
    font-family: sans-serif;
    letter-spacing: 1pt;
}